{{!-- title & headings --}}
<h1>Eat Da Burger!</h1>

<h2>Consuming Burgers = 😋😋😋</h2>
<h3>The More You Eat, the Happier You'll Be!</h3>

{{!-- listing unconsumed burgers --}}
<h3>Choose a Burger to Consume</h3>
<ul>
    {{!-- adding info from sql database where consumption = FALSE (0) --}}
    {{!-- #each is for loop. /each closes for loop --}}
    {{#each burger}}
        {{#unless devoured}}
        <li>{{burger_name}}
            <button type="submit" class="consume-me" data-id="{{id}}" data-devoured>Consume Me 🍽</button>
        </li>
        
        {{/unless}}
    {{/each}}
</ul>

{{!-- list of consumed burgers --}}
<h3>Yum! You've consumed the burgers below 🍔🍔</h3>
{{!-- burger goes here if devoured === TRUE(1) --}}
<ul>
    {{#each burger}}
        {{#if devoured}}
            <p>
                {{this.id}} {{this.burger_name}}
            </p>
        {{/if}}
    {{/each}}
</ul>

{{!-- form submit: add a burger to consume --}}
<h2>Add a Burger to Consume!</h2>
<form class="add-burger">
    <div class="form-group">
        <label for="burger">Burger:</label>
        <input type="text" id="burger-info" name="name">
    </div>    
    <button type="submit">Add Burger</button>
</form>
<script>
// GOAL: on click function that allows the user to consume a burger of choice.
    $(".consume-me").on("click", function(){
        console.log("im clicked!") //click works
        // find the burger by ID and change 'devoured' to TRUE (1)
        var id = $(this).data("id");
        //console.log(id) //id captured --}}

        var eaten = {
            devoured: 1
        }

        //console.log(eaten) //captures value of 1 (true)

        $.ajax({
            type: "PUT",
            url: "/api/burgers/" + id,
            data: eaten,
            err: function(){
                throw err;
            }
        }).then(
            function(){
                console.log() // this doesnt work
            //location.reload();
        })
    });


    // add new burger to DB
    $(".add-burger").on("submit", function(event){
        //console.log("hi!");


        var newBurger = {
            burger_name: $("#burger-info").val().trim(),
            devoured: 0
        }
        //console.log(newBurger)

        $.ajax( {
            type: "POST",
            url: "/api/burgers",
            data: newBurger
        }).then(
            function(){
            //console.log("hello") -- this doesnt matter?
            location.reload();
        })

        event.preventDefault();
    })
</script>
